# Resources required by the sample browser and most samples.
[Essential]
Zip=/usr/share/OGRE/Media/packs/SdkTrays.zip
FileSystem=/usr/share/OGRE/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=/usr/share/OGRE/Media/fonts
FileSystem=/usr/share/OGRE/Media/materials/programs
FileSystem=/usr/share/OGRE/Media/materials/programs/GLSL
FileSystem=/usr/share/OGRE/Media/materials/scripts
FileSystem=/usr/share/OGRE/Media/materials/textures
FileSystem=/usr/share/OGRE/Media/materials/textures/nvidia
FileSystem=/usr/share/OGRE/Media/models
FileSystem=/usr/share/OGRE/Media/particle
FileSystem=/usr/share/OGRE/Media/DeferredShadingMedia
FileSystem=/usr/share/OGRE/Media/PCZAppMedia
FileSystem=/usr/share/OGRE/Media/RTShaderLib
FileSystem=/usr/share/OGRE/Media/RTShaderLib/GLSL
FileSystem=/usr/share/OGRE/Media/RTShaderLib/materials
Zip=/usr/share/OGRE/Media/packs/cubemap.zip
Zip=/usr/share/OGRE/Media/packs/cubemapsJS.zip
Zip=/usr/share/OGRE/Media/packs/dragon.zip
Zip=/usr/share/OGRE/Media/packs/fresneldemo.zip
Zip=/usr/share/OGRE/Media/packs/ogretestmap.zip
Zip=/usr/share/OGRE/Media/packs/ogredance.zip
Zip=/usr/share/OGRE/Media/packs/Sinbad.zip
Zip=/usr/share/OGRE/Media/packs/skybox.zip

[General]
FileSystem=/usr/share/OGRE/Media
